doctype html  
html
    include general/head.pug
    body
        //- Header
        include includes/header.pug
        //- Main Section
        include includes/section.pug
        //- Footer
        include includes/footer.pug
        //- Script
        include general/scripts.pug