html  
    head
        title Welcome to pug-scss project
        link(href='styles.min.css', rel='stylesheet')
    body
        header
            p Header
        section
            p This is a section written in PugJS!
            a.foo_link(href='#', target='_blank') Link
            br
            br
        footer
            .copyright Footer
            script(type='text/javascript').  
                var myVar = 'Hello world!';
                console.log(myVar);